.bar {
	color: black;
	height: 32px;
	line-height: 32px;
	/*background-color: whitesmoke;*/
	vertical-align: middle;
	/*background: #F5F5F5;*/ /* Old browsers */
}

@if user.agent ie6 ie8 {
	.bar {
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F5F5', endColorstr='#FFFFFF',GradientType=0 );*/ /* IE6-8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#FFFFFF',GradientType=0)";
	}
} @else {
	.bar {
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #F5F5F5 0%, #FFFFFF 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #F5F5F5 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #F5F5F5 0%,#FFFFFF 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #F5F5F5 0%,#FFFFFF 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #F5F5F5 0%,#FFFFFF 100%); /* W3C */
	}
}

.button {
	cursor: pointer;
	cursor: hand;
	color: black;
	font-weight: normal;
	text-align: center;
	
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 8px;
	padding-right: 8px;
	
	background: #FFE699; /* Old browsers */
}
@if user.agent ie6 ie8 {
	.button {
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE699', endColorstr='#FFFFFF',GradientType=0 );*/ /* IE6-8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE699', endColorstr='#FFFFFF',GradientType=0)";
	}
} @else {
	.button {
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTY5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #FFE699 0%, #FFFFFF 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFE699), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #FFE699 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #FFE699 0%,#FFFFFF 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #FFE699 0%,#FFFFFF 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #FFE699 0%,#FFFFFF 100%); /* W3C */
	}
}

.selectedButton {
	cursor: default;
	color: black;
	font-weight: bold;
	text-align: center;

	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 8px;
	padding-right: 8px;

	background: #FFC266; /* Old browsers */
}

@if user.agent ie6 ie8 {
	.selectedButton {
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFC266', endColorstr='#FFFFFF',GradientType=0 );*/ /* IE6-8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC266', endColorstr='#FFFFFF',GradientType=0)";
	}
} @else {
	.selectedButton {
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzI2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #FFC266 0%, #FFFFFF 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFC266), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #FFC266 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #FFC266 0%,#FFFFFF 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #FFC266 0%,#FFFFFF 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #FFC266 0%,#FFFFFF 100%); /* W3C */
	}
}


.button:hover {
	color: black;
	text-decoration: underline;
}

.button:visited {
	color: black;
}

.selectedButton:hover {
	color: black;
	text-decoration: underline;
}

.selectedButton:visited {
	color: black;
}

