/* 
 *	giallo scuro: 	#FFE699
 *	grigio:			#E9E9E9
 *	giallo chiaro:	#FFFFCC
 *	selected:		#FFC266
 */

@external .gwt-*;

.gwt-MenuBar {
	font-weight: normal;  
}

.gwt-MenuBar .gwt-MenuItem {
	font-weight: normal;
	background-color: #FFFFFF;  
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background-color: #EBEBEB;  
}