/** CSS rules here for your application. */

@external .gwt-*;

/* popup panel */

.gwt-PopupPanel {
	border: 3px solid #FFC266;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	padding: 0px;
	background: white;
}

/* Fix textbox outline browser default color */

.gwt-TextBox:focus {
	outline-color: #FFC266;
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}

/* Fix different font between TextBox and PasswordTextBox that cause misalignment in forms */

.gwt-PasswordTextBox {
	font-family: 'Arial Unicode MS', Arial, sans-serif;
}

.gwt-PasswordTextBox:focus {
	outline-color: #FFC266;
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}

/* Button minimun width */

.gwt-Button {
	min-width: 85px;
}

.gwt-Button:focus {
	outline-color: #FFC266;
}
