/** CSS rules here for your application. */

.gwt-TextBox:focus {
	outline-color: #ffc266;
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}

/* this fix different font between TextBox and PasswordTextBox that cause misalignment in forms */

.gwt-PasswordTextBox {
	font-family: 'Arial Unicode MS', Arial, sans-serif;
}

.gwt-PasswordTextBox:focus {
	outline-color: #ffc266;
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}

.gwt-Button {
	min-width: 85px;
	/* max-width: 85px; */
}
